@import url(style.css);
@import url(restaurant-style.css);

.repair {
    display: flex;
    justify-content: center;
}

.repair table {
    font-size: 2rem;
    background-color: var(--grey);
    color: var(--bg);
    width: 60%;
    text-align: left;
    border-collapse: collapse;
}

.repair th {
    border: 2px solid var(--bg);
    text-align: center ;
    background-color: var(--blue);
}

.repair td {
    font-size: 2rem;
    border: 2px solid var(--bg);
    padding: 1rem;
}

.repair td:last-child {
    text-align: right;
}

.repair tr:hover {
    background-color: var(--blue);

}

.models .models-container {
    background-color: #4e4e4e; 
    min-width: 100%;
    min-height: 200px;
    display: flex;
    overflow-x: auto;

}
.models .models-container .model {
    /* background-color: var(--grey); */
    min-width: 200px;
    margin: 2rem 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.models .models-container .model img {
    width: 90%;
}
 
.models .models-container::-webkit-scrollbar {
    display: none;
}

.models .buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 150px;
    margin: 1%;

}

.models .buttons button {
    opacity: .7;
    background-color: var(--blue);
    border-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.models .buttons button:hover {
    background-color: white;
}

