@import url(style.css);

.contacts {
    border: var(--border);
    margin: 1% 5%;
    display: flex;
    background-color: var(--grey);
    color: var(--bg);
    width: 90%;
    
}

.contacts img {
    width: 60%;
}

.contacts .info-container {
    width: 40%;
}

.contacts .info-container .info {
    margin: 0 2rem;
}

.contacts .info-container .map {
    width: 99%;
    height: 40%;
}