@import url(style.css);

.contacts {
    border: var(--border);
    margin: 1% 5%;
    display: flex;
    background-color: var(--grey);
    color: var(--bg);
    width: 90%;
    
}

.contacts .info {
    margin: 2rem;
}

.contacts .map {
    width: 45%;
}