@import url(style.css);

.info {
    width: 90%;
    margin: 2% 5%;
    display: flex;
    background-color: var(--grey);
    color: var(--bg);
    font-size: 2rem;
}

.info img {
    flex: 1 1 15rem;
    /* width: 10%;  */
    width: 200px;
    height: 200px;
}

.info p {
    display: flex;
    align-items: center;
    margin: 1rem;
}

