@import url(style.css);

h3 {
    text-align: center;
    font-size: 2.5rem;
}

.menu .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .menu-container a {
    background-color: var(--grey);
    color: var(--bg);
    font-weight: bolder;
    font-size: 3rem;
    width: 80%;
    padding: 2rem 2rem;
    margin: .5rem;
    text-align: center;
}

.menu .menu-container a:hover {
    background: var(--blue);
}

.products-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    font-size: 2rem;
}

.products-container .product .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: var(--bg);
    color: var(--red);
}

.products-container .product .description-container .description {
    background-color: var(--grey);
    color: var(--bg);
    position: fixed;
    border-radius: 5%;
    padding: 1rem;
    width: 50%;
    max-height: 80%;

    left: 25%;
    top: 5%;
    z-index: 99;

}

.products-container .product .description-container .description .close {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2%;
    color: var(--bg);
}

.products-container .product .description-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    top: 0;
    left: 0;
    display: none;
}

.products-container .product .description-container.active {
    display: block;
}

.products-container .product .description-container .description .close:hover {
    color: var(--blue);
}


.products-container .product .description-container .description .name{
    font-weight: bolder;
}

.products-container .product .description-container .description .price span{
    font-weight: lighter;
    color: var(--bg);
    font-size: 1.5rem;
}

.products-container .product .description-container .description .img-and-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container .product .description-container .description .img-and-price img{
    width: 60%;
    max-height: 20%;
    border-radius: 5%;
}

.products-container .product .card:hover {
    cursor: pointer;
    color: var(--bg);
    background: var(--grey);
}

.products-container .product .card img {
    width: 80%;
    margin: 1rem 1rem;
    border-radius: 5%;
}

.products-container .price{
    font-weight: bolder;
}

.products-container .price span{
    font-weight: lighter;
    font-size: 1.5rem;
}

.comments-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    font-size: 2rem;
}

.comments-container .comment {
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.comments-container .comment p{
    margin:1.5rem;
}

.comments-container .comment img {
    width: 30%;
    border-radius: 50%;
    margin-top: 1rem;
}

.comments-container .comment .icons {
    color: var(--blue);
}